.form-cadastro {
    width: 90%;
    padding: 15px;
}

.form-cadastro select {
    border: 0;
    width: 100%;
    background-color: #fff;
    outline: none;
    height: 44px;
    cursor: pointer;
}

.form-cadastro input {
    margin-bottom: 10px;
}

.background-cadastro {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-position: left;
}