.categoria span {
    font-size: 13px;
}

.categoria a {
    text-decoration: none;
    color: rgb(56, 56, 56);
    cursor: pointer;
}

.categoria a:hover {
    color: rgb(200, 50, 50);
}

.img_categoria {
    max-width: 55px;
    
}